<div class="container margin-top-50 selection-wrapper">
  <img src="https://photos-1.dropbox.com/t/2/AABPjy9CB-iF7ifGzMeCTE0MCWEE2epd4xHl8xDWz80hJg/12/341749367/png/32x32/1/_/1/2/best%20dishes%20logo.png/ELLr5tMDGOoBIAcoBw/AkguHBAsd0ZjF0NAq4ipP4e9R-ljISZh0_bxaDd-FtE?size=1280x960&size_mode=3">
</div>

<div class="container margin-top-20">
  <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="margin-top-20">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email Address" %>
  </div>

  <div class="margin-top-20">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  </div>

  <div class="margin-top-10">
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  </div>

  <div class="actions margin-top-20">
    <%= f.submit "Log in", class: "btn btn-blue" %>
  </div>
<% end %>

  <div class="margin-top-10">
    <%= link_to 'Create an account', new_user_registration_path %>
  </div>

  <div class="margin-top-10">
    <%= link_to 'Forgot your password?', new_user_password_path %>
  </div>

</div>