<div class="dishes-grid row">
  <% @dishes.sort_by(&:average_rating).reverse.each_with_index do |dish, i| %>
    <div class="col-xs-6 col-sm-4 dish-card" data-category="<%= dish.dish_category %>" data-city="<%= dish.city %>">
      <div class="one-dish">
        <img class="dish-image" src=<%= dish.dish_coverphoto %> height="300" />
        <div class="dish-number img-padding"><span class="dish-rank"><%= i + 1 %></span>. <%= dish.dish_name %></div>
        <p class="dish-title restaurant-padding"><%= dish.business.name %></p> 
        <p class="restaurant restaurant-padding">
          <% if dish.business.location.neighborhoods.nil? %>
          <%= dish.business.location.city %>         
          <% else %>
          <%= dish.business.location.neighborhoods.first %>, <%= dish.business.location.city %>
          <% end %>
        </p>
        <button class="btn btn-orange img-padding">
          Overall Rating: <%= dish.display_average_rating %>
        </button>
        <button type="button" class="btn btn-line" data-toggle="modal" data-target="#review-dish-modal-<%= dish.id %>">
          Review this dish
        </button>
        <p class="dish-reviews-link dish-title img-padding" data-toggle="modal" data-target="#reviews-modal-<%= dish.id %>">View <%= dish.reviews.count %> Reviews</p>

        <%= render partial: 'reviews_modal', locals: { dish: dish } %>
        <%= render partial: 'review_dish_modal', locals: { dish: dish } %>
      </div>
    </div>
  <% end %>
</div>