<div class="modal fade" id="AddDishRating" tabindex="-1" role="dialog" aria-labelledby="AddDishRatingLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review this dish</h4>
      </div>
      <div class="modal-body">
        <%= form_for :review, url: dish_reviews_path(dish.id) do |f| %>
        <div class="orange-text">DISH</div>
        <p><%= dish.dish_name %> at <%= dish.business.name %></p>
        <div class="orange-text margin-top-20">DISH RATING</div>
        <%= f.text_field :review_rating, class: "form-control margin-top-10", placeholder: "Rate your dish from 1-10. 10 is the best you've ever had!" %>
        <div class="orange-text margin-top-20">COMMENTS</div>
        <%= f.text_area :review_content, class: "form-control margin-top-10", placeholder: "Comment on the dish and why you gave it the rating you did. What made it good? What could have been better? Compare this to other similar dishes you've had.", rows: "10"%>
        <div class="modal-footer">
          <%= f.submit 'Save', class: "btn btn-orange btn-center" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>